* {
	font-family: system-ui, sans-serif;
	color: rgb(96,96,96);
}

#left {
	position: absolute;
	left: 0px;
	top: 0px;

	width: 10%;
	min-height: 1120px;	

	background-color: rgb(230,230,230);
}
#header{
	position: absolute;
	top: 0px;
	left: 10%;

	height: 120px;
	width: 80%;
}
#content{
	position: absolute;
	left: 10%;
	top: 120px;

	width: 80%;
	min-height: 1000px;
}
#right{
	position: absolute;
	right:0px;
	top: 0px;

	width: 10%;
	min-height: 1120px;

	background-color: rgb(230,230,230);
}

#header-content {
	border: 2px solid rgb(230,230,230);
	height: 104px;
	width: auto;
	margin: 6px;

}

#header-image {
	display: box;
	height: 104px;
	width: 104px;
	
	clear: left;
	float: left;

}

#header-text{
	position: absolute;
	top: 40%;
	right: 0;
	width: 80%;

}

nav {
	position: absolute;
	left: 6px;
	top: 20px;

	width: 29%;
	height: 960px;
	border: 2px solid rgb(230,230,230);
}

#posts {
	position: absolute;
	top: 20px;
	left: 33%;

	width: 63%;
	height: 940px;
	margin-bottom: 20px;
	margin-top: 20px;
}
